$main: #0c49cd;
$accent: #e93d5e;
$ink: #3b4256;
$yourHighness: #f4f7fb;
$white: #ffffff;
$silver: #dde1e6;
$platina: #b3bbc3;
$error: #e53935;
$approved: #71bc90;
$active: #62b0ff;
$navText: #dde1e6;
$darkGray: #848e99;
